// Import your color variables from 'colors-vars.module.scss'
@import 'colors-vars.module.scss';

.footer-container {
  background-color: $grey50; // Use your color variable
  padding: 30px 0;
  font-family: 'open sans';
  
  
  .company-links {
    display: flex;
    align-items: center;
    
    
    color: $grey500; // Use your color variable
    font-size: 16px;
    font-weight: 550;
    
    li {
      display: inline-block;
      margin-right: 20px; /* Add spacing between company links */
     

    :hover {
      color: $grey900; // Change link color on hover to a lighter shade
    }
    }
  }
  
  .company-name {
    font-size: 20px;
    font-family: 'open sans';
    color: $grey500; // Use your color variable
    margin-left: 20px;

 
  }
  
  .social-media {
    display: flex;
    justify-content: flex-end;
    align-items: center; 
  }
}