// Import your color variables from 'colors-vars.module.scss'
@import 'colors-vars.module.scss';

.footer-container {
  background-color: $grey50; // Use your color variable
  padding: 40px 0;
  // bottom: 0;
  // width: 100%;
  // padding-bottom: 20px;
  
  .company-links {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    color: $grey500; // Use your color variable
    font-size: 18px;
    
    li {
      display: inline-block;
      margin-right: 20px; /* Add spacing between company links */
      color: $paper; // Link color is white
    text-decoration: none;
    transition: color 0.2s;

    &:hover {
      color: $grey900; // Change link color on hover to a lighter shade
    }
    }
  }
  
  .company-name {
    font-size: 20px;
    font-family: 'Roboto', Arial, sans-serif;
    color: $grey500; // Use your color variable
  }
  
  .social-media {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    margin-top: 20px;
  }
}