
.footer-container {
    
    bottom: 0;
    width: 100%;
    background-color: #e1dcdc;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .company-links {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #5f6368;
    font-size: 18px;
    /* font-weight:600; */
  }
  
  .company-links li {
    display: inline-block;
    margin-right: 20px; /* Add spacing between company links */
  }
  
  .company-name {
    font-size: 20px;
    font-family: Roboto, Arial, sans-serif;
    color: #5f6368
  }
  
  .social-media {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    margin-top: 20px;
  }
  